.reset {
    border-radius: 32px;
    height: 40px;
    width: 130px;
    background-color:rgb(199,67,67);
    border: rgb(247,143,143);
    color: white;
    margin-top: 0.8%; 
}

.reset:hover {
    opacity: 0.8;
    border-color: rgb(199,67,67);
    background-color:rgb(244,172,172);
}